@model AutoComplete.Controllers.HomeController.DisposalInformation
@{
    ViewData["Title"] = "Lookup Address";
}

<div class="text-center">
    <h1 class="display-4">Fletting eftir heimilisfangi</h1>

    <div class="container">
        <form class="form-group" method="post">
            <input name="address" id="autocomplete" class="form-control" placeholder="Gata í nefnifalli og númer" spellcheck="false" autofocus value="@ViewBag.Address" />
            <input type="submit" value="Submit" class="btn btn-primary form-control mt-1">
            <input type="submit" value="REST" class="btn btn-secondary form-control mt-1" onclick="$(this).closest('form').attr('action', 'LookupAddressREST');">
        </form>
        @if (Model is not null)
        {
            <h2>@Model.Area - @Model.AreaName</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2">Orkutunur (Gráar)</th>
                    </tr>
                    @foreach (var schedule in Model.GreyScheduleList)
                    {
                        <tr>
                            <td>@schedule.Dags_Fra</td>
                            <td>@schedule.Dags_Til</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="2">Endurvinnslutunur (Bláar)</th>
                    </tr>
                    @foreach (var schedule in Model.GreyScheduleList)
                    {
                    <tr>
                        <td>@schedule.Dags_Fra</td>
                        <td>@schedule.Dags_Til</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(
        function() {
            $("#autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "AutoCompleteSearchP", //"https://abendingar.kopavogur.is/Sorphirda/Home/AutoCompleteSearchP",
                        type: "GET",
                        dataType: "jsonp",
                        data: {
                            term: request.term,
                            suppressExact: false
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                select: function (event, ui) {
                    if (ui.item.value.indexOf(" ") == -1) {
                        $(this).keydown();
                    }
                }
            });
        }
    );
</script>
