@model AutoComplete.Controllers.HomeController.DisposalInformation
@{
    ViewData["Title"] = "Lookup Address";
}

<div class="text-center">
    <h1 class="display-4">Fletting eftir heimilisfangi</h1>

    <div class="container">
        <form class="form-group" method="post">
            <input type="text" name="N_HNIT_WGS84" id="N_HNIT_WGS84" class="form-control" />
            <input type="text" name="E_HNIT_WGS84" id="E_HNIT_WGS84" class="form-control" />
            <input name="address" id="address" class="form-control" placeholder="Gata í nefnifalli og númer" spellcheck="false" autofocus value="@ViewBag.Address" />
            <input type="submit" value="Submit" class="btn btn-primary form-control mt-1" />
            <input type="submit" value="REST" class="btn btn-secondary form-control mt-1" onclick="$(this).closest('form').attr('action', 'LookupAddressREST');" />
            <input type="button" id="jsonp" value="JSONP to textbox" class="btn btn-secondary form-control mt-1" />
            <textarea name="jsonpResult" id="jsonpResult" rows="10" class="form-control mt-1" style="display: none;" spellcheck="false"></textarea>
        </form>
        @if (Model is not null)
        {
            <h2 class="mt-2">@Model.Area - @Model.AreaName</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2">Orkutunur (Gráar)</th>
                    </tr>
                    @foreach (var schedule in Model.GreyScheduleList)
                    {
                        <tr>
                            <td>@schedule.Dags_Fra</td>
                            <td>@schedule.Dags_Til</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="2">Endurvinnslutunur (Bláar)</th>
                    </tr>
                    @foreach (var schedule in Model.GreyScheduleList)
                    {
                    <tr>
                        <td>@schedule.Dags_Fra</td>
                        <td>@schedule.Dags_Til</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(
        function () {
            $("#address").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "AutoCompleteSearchP", //"https://abendingar.kopavogur.is/Sorphirda/Home/AutoCompleteSearchP",
                        type: "GET",
                        dataType: "jsonp",
                        data: {
                            term: request.term,
                            suppressExact: false
                        },
                        success: function (data) {
                            let input = $("#address").val().toLowerCase();
                            let eHnit = "";
                            let nHnit = "";
                            data.forEach((c) => {
                                if (input == c.label.toLowerCase()) {
                                    eHnit = c.info.E_HNIT_WGS84;
                                    nHnit = c.info.N_HNIT_WGS84;
                                }
                            });
                            $("#E_HNIT_WGS84").val(eHnit);
                            $("#N_HNIT_WGS84").val(nHnit);
                            response(data);
                        }
                    });
                },
                select: function (event, ui) {
                    if (ui.item.info != null) {
                        alert()
                        // alert(JSON.stringify(ui.item.info));
                        // alert(ui.item.info.N_HNIT_WGS84 + "," + ui.item.info.E_HNIT_WGS84);
                        $("#E_HNIT_WGS84").val = ui.item.info.E_HNIT_WGS84;
                        $("#N_HNIT_WGS84").val = ui.item.info.N_HNIT_WGS84;
                        lastComplete = null;

                    }
                    if (ui.item.value.indexOf(" ") == -1) {
                        $(this).keydown();
                    }
                }
            });

            $("#jsonp").click(
                function () {
                    $("#jsonpResult").show(500);
                    $.ajax({
                        url: "LookupAddressRESTP", //"https://abendingar.kopavogur.is/Sorphirda/Home/LookupAddressRESTP",
                        type: "GET",
                        dataType: "jsonp",
                        data: {
                            address: $("#address").val()
                        },
                        success: function (data) {
                            $("#jsonpResult").val(JSON.stringify(data));
                        }
                    });
                }
            );
        }
    );
</script>
